*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkslategrey;
}
.parent{
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: skyblue;
    position: relative;
    top: 60px;
}
.child{
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: absolute;
}
.child:nth-child(1){
    top: 150px;
    left: 150px;
}
.child:nth-child(2){
    top: 0px;
    right: 0px;
}
.child:nth-child(3){
    bottom: 0px;
    left: 0px;
}

.grand-child{
    width: 40px;
    height: 40px;
    background-color: yellow;
    position: absolute;
    top: 30px;
    left: 30px;
}
.ballon{
    width: 40px;
    height: 40px;
    background-color: darkslateblue;
    border-radius: 50%;
    color: white;
    font-size: smaller;
    position: absolute;

}
.ballon:nth-child(1){
    top: -40px;
    left: 30px;
}
.ballon:nth-child(2){
    right: -40px;
    bottom: 30px;
}
.ballon:nth-child(3){
    top: 100px;
    left: 30px;
}
.ballon:nth-child(4){
    top: 30px;
    right: 100px;

}